################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DiskOperationService/.vs/
/DiskOperationService/obj/Debug/net6.0/
/DiskOperationService/obj/Release/net6.0/
/DiskOperationManagementApp/obj/
/.vs/
/DiskOprationLib/obj/
/DiskOperationLibrary/obj/Debug/net6.0/DiskOperationLibrary.AssemblyInfo.cs
/DiskOperationLibrary/obj/Debug/net6.0/DiskOperationLibrary.AssemblyInfoInputs.cache
/DiskOperationLibrary/obj/Debug/net6.0/DiskOperationLibrary.assets.cache
/DiskOperationLibrary/obj/Debug/net6.0/DiskOperationLibrary.csproj.AssemblyReference.cache
/DiskOperationLibrary/obj/Debug/net6.0/DiskOperationLibrary.GeneratedMSBuildEditorConfig.editorconfig
/DiskOperationLibrary/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/DiskOperationLibrary/obj/Release/net6.0/DiskOperationLibrary.AssemblyInfo.cs
/DiskOperationLibrary/obj/Release/net6.0/DiskOperationLibrary.AssemblyInfoInputs.cache
/DiskOperationLibrary/obj/Release/net6.0/DiskOperationLibrary.assets.cache
/DiskOperationLibrary/obj/Release/net6.0/DiskOperationLibrary.GeneratedMSBuildEditorConfig.editorconfig
/DiskOperationLibrary/obj/Release/net6.0/DiskOperationLibrary.GlobalUsings.g.cs
/DiskOperationLibrary/obj/DiskOperationLibrary.csproj.nuget.dgspec.json
/DiskOperationLibrary/obj/DiskOperationLibrary.csproj.nuget.g.props
/DiskOperationLibrary/obj/project.assets.json
/DiskOperationLibrary/obj/project.nuget.cache
/DiskOperationManagementApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DiskOperationLibrary/obj/Release/net6.0
/DiskOperationLibrary/obj/DiskOperationLibrary.csproj.nuget.dgspec.json
/DiskOperationLibrary/obj/DiskOperationLibrary.csproj.nuget.g.props
/DiskOperationLibrary/obj/project.assets.json
/DiskOperationLibrary/obj/project.nuget.cache
/DiskOperationManagementApp/bin/Release/DiskOprationLib.dll
/DiskOperationManagementApp/bin/Release/DiskOprationLib.pdb
/DiskOperationManagementApp/bin/Release/Legallogger.exe
/DiskOperationManagementApp/bin/Release/Legallogger.exe.config
/DiskOperationManagementApp/bin/Release/Legallogger.pdb
/DiskOperationManagementApp/bin/Release/Newtonsoft.Json.dll
/DiskOperationManagementApp/bin/Release/Newtonsoft.Json.xml
/DiskOperationMSISetup/Debug
/DiskOperationMSISetup/Release
/DiskOperationService/.vs/DiskOperationService/DesignTimeBuild/.dtbcache.v2
